*{
    font-family: 'Poppins';
    box-sizing: border-box;
    max-width: 100%;
}
img{
    width: auto;
    height: auto;
    /* max-width: 350px;
    max-height: 250px; */
}
.topnav {
    background-color:  black; 
    color: white;
    padding: 30px;
    font-size: larger;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    overflow: hidden;
}
a:hover{
    background-color:  #ED661F;
}
.nav-1{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.logo{
    float: left;
    font-size: xx-large;
}
.login{
    float: right;
}
.get_started{
    float: right;
    background-color: #ED661F;
    padding: 12px;
    margin: 20px;
}
.row-1{
    font-size:20px;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;  
    align-items: center;
    background-image: url("images/image 1.png");
    background-repeat: no-repeat;
    height: 500px;
    width: auto;
    background-position: center;
    background-size: cover;

}

#produce{
    float: right;
    max-width: 700px;
    max-height: 600px;
    width: auto;
    height: auto; 
    
    
}
.absolute{
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    position: absolute;
    right: 10;
    left: 700px;
    top: 600px;
    background-color: white;
    border: 0px;
    box-shadow: 0px 5px #888888;;
}
.split-right{
    padding: 30px;
    border: 30px;
}
button{
    background-color:  #ED661F;
    color: azure;
    padding: 15px;
    border: none;
    border-radius: 2px;
}

.row-2{
    font-size: larger;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: auto;
    border: 10px;
    padding: 100px;
    padding-top: 60px;
}
u {
    text-decoration-line: underline;
    text-decoration-color:  #ED661F;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    
}
#comm{
    max-width: 600px;
    max-height: 500px;
    width: auto;
    height: auto;
}
#hr-1 style{
    color:  #ED661F;
    height: 2px;
}
.category{
    font-size: larger;
    text-align: center;
}
/*.row-3{
    display: flex;
    flex-direction: row;
}
*/
table{
    border: 0px;
    padding: 10px;
}
Span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
td{
    object-fit: cover;
}
#topic{
    float: left;
}
/*.row-4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}*/
#tabled{
    margin-left: 30px;
}
#all{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 30px;
    font-size: larger;
}
hr.solid{
    border-top: 3px solid #bbb;
}
.checked{
    color:  #ED661F;
}
#comments{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
}
#id{
    width: auto;
    height: auto;
}
.contact{
    text-align: center;
    padding: 30px;
}
#id{
    font-size: small;
}
.bottomnav{
    background-color: black;
    color: white;
    display: flex;
    padding: 50px;
    justify-content: space-around;
}
footer{
    background-color: black;
    color: white;
    width: 100%;
}
hr style{
    color: white;
    height: 2px;
}
td{
    padding: 20px;
}
#footer{
    text-align: center;
}
.row-5{
    font-size: larger;
    padding-top: 30px;
}
#shadow{
    
    box-shadow: 3px 7px #dbcfcf;
  }
textarea{
    width: 250px;
}
#sub-button{
    width: 150px;
    height: 50px;
    background-color: #ED661F;
    color: white;
    border: none;
    border-radius:2px ;
}
#people{
    width: 50px;
    height: auto;
}
.form-input{
    width: 350px;
    height: 50px;
    text-align: center;
}
#Media{
    background-color: #888888;
    color: #888888;  
}